<div>
    <div class="row mainHeaderBox">
        <div class="col-xs-6">
            <span class="logo"><img class="logoSmall" src="skin/images/logo.jpg" /> TEZBOX</span>
        </div>
    </div>
    
    <div class="med-container">
      <h2 class="med-title">Sichere dein Wallet</h2>
    <div class="row text-center">
      <div class="col-xs-12">
            <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Bitte geben Sie ein Passwort ein, um Ihren privaten Schlüssel zu verschlüsseln. Dieses Passwort wird nur zum Entsperren Ihrer Brieftasche verwendet (nicht zum Wiederherstellen erforderlich).</strong></p>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <input autocomplete="off" type="password" class="text-center form-control" ng-model="password" placeholder="Passwort">
            </div>
            <div class="form-group">
                <input autocomplete="off" type="password" class="text-center form-control" ng-model="password2" placeholder="Passwort wiederholen">
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <a ng-click="encrypt()" class="btn btn-success btn-block">Wallet verschlüsseln</a>
            <br />
            <a ng-click="cancel()" class="btn-link">Abbrechen</a>
        </div>
    </div>
    </div>
</div>
