<div>
    <div class="mainHeaderBox">
        <div class="col-md-4">
            <span class="logo"><img class="logoSmall" src="skin/images/logo.jpg" /> TEZBOX</span>
        </div>
        <div class="col-md-4 text-center">
          
        </div>
        <div class="col-md-4 text-right">
            <a ng-click="viewSettings()" class="btn btn-icon btn-default" style="margin-right:10px;"><i style="    font-size: 30px;" class="fa fa-cog" aria-hidden="true"></i></a>
            <a ng-click="lock()" class="btn btn-icon btn-default"><i style="    font-size: 30px;" class="fa fa-lock" aria-hidden="true"></i></a>
        </div>
    </div>
    
    <div class="mainBody">
      <div class="side" style="padding-bottom: 100px;">
        <h3 style="">Meine Accounts</h3>
        <div class="sideContainer">
        <ul class="sidebar">
          <li ng-repeat="a in accounts track by a.address"><a ng-click="loadAccount($index)"><blocky class="avatar" seed='{{a.address}}' size='8' scale='16'></blocky> {{a.title}}<span>{{a.address}}</span></a></li>
          <li><a style="padding-top: 8px!important;" ng-click="add()">Account hinzufügen <i class="fa fa-plus" ></i></a></li>
        </ul>
        </div>
        <div  style="position:absolute;bottom:50px;font-size:12px;">
        <p>
        {{block.net}}<br />
        Level {{block.level}}<br />
        <strong>{{block.proto}}</strong><br />
        {{setting.rpc}}
        <p class="copy text-center"><a href="/impressum.html" target="_blank">Impressum</a> - <a href="/privacy.html" target="_blank">Datenschutz</a></p>
        </p>
        </div>
      </div>
      <div class="mainArea">
      <div class="innerContainer">
    
    <div class="row">
      <div class="col-md-12">
      <p class="alert alert-warning"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Diese Wallet ist mit dem Betanet verbunden, wo Sie mit Live-Transaktionen arbeiten. Mehr über die Erwartungen des Betanet <a href="https://tezosfoundation.ch/news/tezos-betanet-expectations/" target="_blank">erfahren Sie hier</a>.</strong></p>
    </div>
    </div>
    <div class="row addressDetails">
        <div class="col-md-3 blocky-container">
          <blocky class="avatar" seed='{{accounts[account].address}}' size='8' scale='16'></blocky>
          <div class="accountOffline" ng-hide="accountLive"><i class="leftIcon fas fa-exclamation-circle"></i></div>
        </div>
        <div class="col-md-6">
            <h1 class="walletTitle">
              {{accounts[account].title}}
						</h1>
            <h5 class="address">
              <button ng-click="copy()" class="icon-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="far fa-copy" aria-hidden="true"></i>
              </button>
              {{accounts[account].address}}
            </h5>
            <strong><a target="_blank" href="http://tzscan.io/{{accounts[account].address}}">Auf tzscan ansehen <i class="fas fa-external-link-alt"></i></a></strong>
            <h5 class="balance">
              {{accountDetails.balance}} 
              <button ng-click="refresh()" class="icon-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fas fa-sync" aria-hidden="true"></i>
              </button>
            </h5>
        </div>
        <div class="col-md-3">
          <qrcode style="margin:25px;"  error-correction-level="H" size="180" data="{{accounts[account].address}}" color="#FFF" background="#000"></qrcode>
        </div>
    </div>
    
    
    <div class="row" ng-hide="accountLive">
                  <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Dieser Account ist noch nicht zur Blockkette hinzugefügt worden - bitte warten Sie, bis ein Baker ihn in einen Block aufgenommen hat, bevor Sie diesen Account verwenden.</strong></p>
    </div>
    <div class="row" ng-show="accountLive">
        <div class="col-md-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a data-target="#transactions" aria-controls="transactions" role="tab" data-toggle="tab"><i class="fas fa-exchange-alt"></i> Transactionen</a></li>
          <li role="presentation"><a data-target="#send" aria-controls="send" role="tab" data-toggle="tab"><i class="fas fa-paper-plane"></i> Senden</a></li>
          <li role="presentation"><a data-target="#delegate" aria-controls="delegate" role="tab" data-toggle="tab"><i class="fa fa-users"></i> Delegieren</a></li>
          <li role="presentation"><a data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fas fa-sliders-h"></i> Einstellungen</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active text-center" id="transactions">
            <strong ng-hide="transactions.length != 0">Keine Transactionen verfügbar</strong>
            
            <div class="transactions" ng-hide="transactions.length == 0">
              <div class='tx' ng-repeat="tx in transactions track by $index">
                    <blocky class="avatar" seed='{{tx.to}}' size='8' scale='16'></blocky>
                    <h3 class="date">{{tx.date}} - {{tx.to}}</h3>
                    <span class="opHash"><a target="_blank" href="{{'http://tzscan.io/' + tx.hash}}" ng-click="openTransaction(tx.hash)">{{tx.hash.slice(0,15)}}..<i class="fa fa-external-link-alt" aria-hidden="true"></i></a></span>
                    <span class="amt">{{tx.amount}}ꜩ</span>
              </div>
          </div>
                    
          </div>
          <div role="tabpanel" class="tab-pane" id="send">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Empfänger Adresse</label>
                      <input type="text" class="form-control" ng-model="toaddress" >
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Betrag</label>
                      <input type="text" class="form-control" ng-model="amount" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Gebühr</label>
                      <input type="text" class="form-control" ng-model="fee" >
                    </div>
                </div>
                    </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Parameter</label>
                      <input type="text" class="form-control" placeholder="(optional)" ng-model="parameters" >
                    </div>
                </div>
             </div>
            <div class="row">
                <div class="col-md-3">
                  <a ng-click="send()" class="btn btn-small btn-success btn-block">Senden</a>
                </div>
                <div class="col-md-3">
                  <a ng-click="clear()" class="btn btn-small btn-primary btn-block">Abbrechen</a>
                </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="delegate">
          <div class="row">
              <div class="col-md-12" ng-show="account > 0 && delegateType == ''">
                  <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Bitte vergewissern Sie sich, dass der von Ihnen eingegebene Adresse für die Teilnahme am Baking-Protokoll registriert ist.</strong></p>
              </div>
              <div class="col-md-12" ng-show="account == 0">
                  <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Die Delegation von dieser Adresse ist nicht erlaubt (kleine tz-Adressen) - diese werden als implizite Adressen bezeichnet und das Protokoll erlaubt es ihnen nicht, an einen anderen Schlüssel zu delegieren. Bitte erstellen Sie ein Konto (KT-Adresse) für die Delegation (Account hinzufügen).</strong></p>
              </div>
            </div>
              
            <div class="row" ng-show="account > 0">
              <div class="col-md-4">
                  <div class="form-group">
                    <select class="form-control" ng-model="delegateType">
                      <option value="">Individuelle Einstellung</option>
                      <option value="tz1LesY3S4wfe15SNm1W3qJmQzWxLqVjTruH">xtez.io</option>
                      <option value="tz1TDSmoZXwVevLTEvKCTHWpomG76oC9S2fJ">Tezos.Community</option>
                      <option value="tz1Tnjaxk6tbAeC2TmMApPh8UsrEVQvhHvx5">CryptoDelegate</option>
                    </select>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group" ng-show="!delegateType" placeholder="Custom Delegate Key">
                    <input type="text" class="form-control" ng-model="dd" >
                  </div>
              </div>
              <div class="col-md-3" >
                <a ng-click="updateDelegate()" class="btn btn-small btn-success btn-block">Delegation aktualisieren</a>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="settings">
            <div class="row">
              <div class="col-md-12">
                <h3>Bezeichnung</h3>
              </div>
            </div>
              
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="tt" >
                  </div>
              </div>
              <div class="col-md-3" >
                <a ng-click="saveTitle()" class="btn btn-small btn-success btn-block">Bezeichnung ändern</a>
              </div>
            </div>
            
            <div ng-hide="account > 0">
            <div class="row">
              <div class="col-md-12">
                <h3>Importiere KT1 account</h3>
                <p>Damit können Sie KT1-Adressen importieren, die an anderer Stelle (oder nach der Wiederherstellung Ihres Kontos) entstanden sind. Sie können alle Ihre ursprünglichen KT1-Adressen auf <a target="_blank" href="http://tzscan.io/{{accounts[account].address}}?default=origination">tzscan.io</a> einsehen.
              </div>
            </div>
              
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="kt1" placeholder="KT1...">
                  </div>
              </div>
              <div class="col-md-3" >
                <a ng-click="import()" class="btn btn-small btn-success btn-block">Importieren</a>
              </div>
            </div>
            </div>
            

            <div class="row" ng-show="account > 0">
              <div class="col-md-12">
                <h3>Account löschen</h3>
              </div>
            </div>
              
            <div class="row" ng-show="account > 0">
              <div class="col-md-3">
                <a ng-click="remove()" class="btn btn-small btn-success btn-block">Account löschen</a>
              </div>
            </div>
          </div>
            
          </div>
        </div>

      </div>
      <div class="donate text-center">
      <h5 class="address">
        Die gefällt diese Wallet? Spenden sind willkommen ;-) <strong>tz1Udfojp4FsiyUqM2s1VbREE2ZdijGypuRv</strong>
        </button>
      </h5>
      </div>
    </div>
    </div>
      

      </div>
    </div>
</div>
