<div class="text-center" style="padding-top:30px;">
    
    <div class="small-container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img class="logoBig" src="skin/images/logo.jpg" />
          <h2 class="header">TezBox</h2>
          <h3 class="header">Sicheres Tezos Wallet</h3>
          <br />
          <br />
        </div>
      </div>
      <div class="row" ng-show="setting.disclaimer">
          <div class="col-md-6 col-md-offset-3">
            <a ng-click="create()" class="btn btn-success btn-block">TezBox erstellen</a>
          <br />
            <a ng-click="restore()" class="btn btn-primary btn-block">TezBox wiederherstellen</a>
          </div>
      </div>
      <div class="row" ng-hide="setting.disclaimer">
          <div class="col-md-10 col-md-offset-1">
            <p class="alert alert-warning"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Bitte beachten Sie, dass Sie es mit dem Live-<a href="https://tezosfoundation.ch/news/tezos-betanet-expectations/" target="_blank">Tezos Betanet</a> arbeiten.<br /><br />
			TezBox ist ein von der Community entwickeltes Projekt und bietet keinen Schutz vor möglichen Hacks oder Verlusten von finanziellen Vermögenswerten oder digitalen Token, die in dem TezBox-Wallet gespeichert sind. Sie benutzen diese Wallet auf eigene Gefahr.</p>
            
          </div>
          <div class="col-md-6 col-md-offset-3">
            <a ng-click="acceptDisclaimer()" class="btn btn-success btn-block">Ok, verstanden.</a>
          </div>
      </div>
    </div>
</div>
