<div>
    <div class="row mainHeaderBox">
        <div class="col-xs-6">
            <span class="logo"><img class="logoSmall" src="skin/images/logo.jpg" /> TEZBOX</span>
        </div>
    </div>
    
    <div class="med-container">
      <h2 class="med-title">TezBox wiederherstellen</h2>
    <div class="row text-center tabChoices">
      <div class="col-xs-4">
        <a ng-click="type = 'seed'" ng-class="type == 'seed' ? 'selected' : ''">Seed-Wörter</a>
      </div>
      <div class="col-xs-4">
        <a  ng-click="type = 'private'" ng-class="type == 'private' ? 'selected' : ''">Privater Schlüssel</a>
      </div>
      <div class="col-xs-4">
        <a  ng-click="type = 'ico'" ng-class="type == 'ico' ? 'selected' : ''">ICO Wallet</a>
      </div>
    </div>
    <div ng-show="type == 'seed'" class="row text-center">
      <div class="col-xs-12">
            <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Bitte geben Sie unten Ihre Seed-Wörter und Ihr Passwort ein. Wir werden versuchen, Ihr Wallet wiederherzustellen.</strong></p>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <textarea rows=2 class="text-center form-control" placeholder="Seed Wörter" ng-model="seed"></textarea>
            </div>
            <div class="form-group">
                <input type="password" class="text-center form-control" ng-model="passphrase" placeholder="Optionales Passwort">
            </div>
        </div>
    </div>
    <div ng-show="type == 'private'" class="row text-center">
      <div class="col-xs-12">
            <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Bitte geben Sie Ihren privaten Schlüssel ein. Wir werden versuchen, Ihr Wallet wiederherzustellen.</strong></p>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <input type="password" class="text-center form-control" ng-model="private_key" placeholder="Privater Schlüssel">
            </div>
        </div>
    </div>
    <div ng-show="type == 'ico'" class="row text-center">
      <div class="col-xs-12">
            <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Bitte geben Sie Ihre Seed-Wörter, E-Mmail Addresse, Passwort und den Aktivierungsschlüssel (dieser ist optional) ein. Wir werden versuchen, Ihr Wallet wiederherzustellen.</strong></p>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <textarea rows=2 class="text-center form-control" placeholder="ICO Seed Words" ng-model="seed"></textarea>
            </div>
            <div class="form-group">
                <input type="text" class="text-center form-control" ng-model="email" placeholder="ICO Email Address">
            </div>
            <div class="form-group">
                <input type="password" class="text-center form-control" ng-model="ico_password" placeholder="ICO Password">
            </div>
            <div class="form-group">
                <input type="text" class="text-center form-control" ng-model="activation_code" placeholder="Activation Code">
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-4 col-xs-offset-4">
            <a ng-click="restore()" class="btn btn-success btn-block">TezBox Wiederherstellen</a>
            <br />
            <a ng-click="cancel()" class="btn-link">Abbrechen</a>
        </div>
    </div>
    </div>
</div>
